You will have a 
<%size_final.each do |value|%>
<%value = value.shift%>
<p><%=value%>

<%end%> pizza with

<%sauce_final.each do |value, key|%>
<%if value == key%>
    <p> <%=value %><br>
    <img src = "./img/<%=value%>.jpeg">
<%end%>
<%end%><br> <br>
Cheese: <br>
<%cheese_final.each do |value, key|%>
    <%if value == key%>
    <p> <%=value %><br>
    <img src = "./img/<%=value%>.jpeg">
   
<%end%>
<%end%>
    <%meat_final.each do |value, key|%>
    <%if value == key%>
    <p> <%=value%><br>
<img src = "./img/<%=value%>.jpeg">
<%end%>
<%end%>
<%veg_final.each do |value, key|%>
    <%if value == key%>
    <p> <%=value%><br>
    <img src = "./img/<%=value%>.jpeg">
<%end%>
<%end%>
<end>
<form method = "post" action = "/complete">
<%delivery.each do |value|%>>
<p> <%=value%> </p>
<input type = "text" name = "address" >
<%end%>

<input type = "submit">
</form> 

<div> <a href = "/index">Want another pizza?</a> </div>
