<%total=0%>
You will have a
<%size_final.each do |value|%>
<%value = value.shift%>
<p><%=value%>
<%if value == "personal"%>
        <%total += 2%>
    <%elsif value == "small"%>
        <% total += 3%>
    <%elsif value == "medium"%>
        <%total += 5%>
    <%elsif value == "large"%>
        <%total += 7%>
    <%else%>
        <% total += 8%>
    <%end%>
<%end%> pizza with

<%sauce_final.each do |value, key|%>
<%if value == key%>
    <p> <%=value %><br>
    <img src = "./img/<%=value%>.jpeg">
<%end%>
<%end%><br> <br>
Cheese: <br>
<%cheese_final.each do |value, key|%>
    <%if value == key%>
    <p> <%=value %><br>
    <img src = "./img/<%=value%>.jpeg">
   
<%end%>
<%total += 1%>
<%end%>
    <%meat_final.each do |value, key|%>
    <%if value == key%>
    <p> <%=value%><br>
<img src = "./img/<%=value%>.jpeg">
    <%end%>
<%end%>
<%veg_final.each do |value, key|%>
    <%if value == key%>
    <p> <%=value%><br>
    <img src = "./img/<%=value%>.jpeg">
    <%end%> 
    <%total+=1%>
<%end%>
<br>
Your total is $<%=total%>
<form method = "post" action = "/complete">
<%delivery.each do |value|%>>
<%if value == "no"%>
<%else%>
<p> <%=value%> </p>
<input type = "text" name = "address" >
<%end%>
<%end%>
 
<input type = "submit">
</form> 

<div> <a href = "/index">Want another pizza?</a> </div>
