<form method="post" action="/confirm"> 
Size :
<%size.each do |value|%>

<p> <%=value%>
    <input type = "radio" name = "size[<%=value%>]" value = "<%=value%>"> Yes
    <input type = "radio" name = "size[<%=value%>]" value = "no"> No </p>
<%end%>


Sauce: <br>
    <%sauce.each do |value|%>
    <img src = ./img/<%=value%>.jpeg> <p> <%=value%> 
    <input type = "radio" name = "sauces[<%=value%>]" value = "<%=value%>"> Yes
    <input type = "radio" name = "sauces[<%=value%>]" value = "no"> No </p>
    <%end%>
Cheese:<br>
<br>
    <%cheese.each do |value|%>
    <img src = ./img/<%=value%>.jpeg><p> <%=value%>
    <input type = "radio" name = "cheeses[<%=value%>]" value = "<%=value%>"> Yes
    <input type = "radio" name = "cheeses[<%=value%>]" value = "no"> No </p>
    <%end%>
Meat: <br> 
<br>
    <%meat.each do |value|%>
    <img src = ./img/<%=value%>.jpeg><p> <%=value%>
    <input type = "radio" name = "meats[<%=value%>]" value = "<%=value%>"> Yes
    <input type = "radio" name = "meats[<%=value%>]" value = "no"> No </p>
    <%end%>

Veggies:<br>
<br>
    <%veg.each do |value|%>
    <img src = ./img/<%=value%>.jpeg><p> <%=value%>
    <input type = "radio" name = "vegs[<%=value%>]" value = "<%=value%>"> Yes
    <input type = "radio" name = "vegs[<%=value%>]" value = "no"> No </p>
    <%end%>
<input type = "submit">
    </form>

